---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel}}
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}


{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full">
    
    {{#if settings.show_newsletter_box}}
        <div class="homepage-newsletter">
            <div class="container">
            {{> components/common/subscription-form}}
            </div>
        </div>
    {{/if}}

    {{#if products.featured}}
        {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}

    {{#if products.top_sellers}}
        {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
    {{/if}}

    {{#if products.new}}
        {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
    {{/if}}
    
    <div class="content-wrapper">
        
    <section class="content photo dark" style="background-image: url(https://s3.amazonaws.com/busites_www/ringersgloves/images/bg-glove.jpg)">
        <div class="container">
            
            <h2 class="page-heading">
                Committed to the hands that protect our freedom
            </h2>

            <p class="text-large">Since 1996, Ringers Gloves’ sole focus is creating high performing, task-specific work gloves to advance hand safety technology. In addition to our broad portfolio of gloves designed to serve the unique needs of customers worldwide, we also offer value-add programs such as work site assessments to help our customers achieve compliance goals and improve their safety records. We also provide opportunities to test pilot our gloves in the field, ensuring customer satisfaction is guaranteed.</p>
            
        </div>
    </section>
    
    <section class="content photo" style="background-image: url(https://s3.amazonaws.com/busites_www/ringersgloves/images/bg-grid.jpg)">
        <div class="container pb-0">
            
            <h2 class="page-heading">
                The Ringers Difference
            </h2>

            <img src="https://s3.amazonaws.com/busites_www/ringersgloves/images/glove-tech.png" width="100%" alt="Your Hands - 125 ligaments and tendons provide range and motion - Hands at work are vulnerable to cut and puncture, Our Gloves - High performance tpr impact protection on top of hand, fingers and thumb - HPPE fabric and premium synthetic leather for enhanced cut resistance and durability">
            
        </div>
    </section>

    <!-- HOME -->
    
    </div>
    
    
</div>
{{/partial}}



{{> layout/base}}
